<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>Login - Toyota Tsusho India Pvt. Ltd.</title>
    <link rel="stylesheet" href="../static/assets/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i">
</head>

<body style="background-color: rgb(0,48,88);">
    <div class="row">
        <div class="col-6" style="background-image:url('./../static/assets/MyPic.png'); background-repeat: no-repeat; background-size: contain;">
            <div class="container" style="margin: auto; color: white; text-align: center;">
                <h2 style="font-weight: 700;"><br>SMART FLEET MANAGER</h2>
            </div>
            
        </div>
        <div  style="background-color: rgb(255,255,255); height: 100vh; vertical-align: auto;" class="col-6">
            <div class="container" style="margin: auto;">
                <br><br><br><br>
                                    
                                        <div class="p-5">
                                            <div class="text-center">
                                                <h4 class="text-dark mb-4">Welcome Back!</h4>
                                            </div>
                                            <form class="user" action="/home_logged" method="POST">
                                                <div class="mb-3"><input class="form-control form-control-user" type="email" id="exampleInputEmail" aria-describedby="emailHelp" placeholder="Enter Email Address..." name="email"></div>
                                                <div class="mb-3"><input class="form-control form-control-user" type="password" id="exampleInputPassword" placeholder="Password" name="password"></div>
                                                <div class="mb-3">
                                                    <div class="custom-control custom-checkbox small">
                                                        <div class="form-check"><input class="form-check-input custom-control-input" type="checkbox" id="formCheck-1"><label class="form-check-label custom-control-label" for="formCheck-1">Remember Me</label></div>
                                                    </div>
                                                </div><button class="btn btn-primary d-block btn-user w-100" type="submit">Login</button>
                                                <hr>
                                                <hr>
                                            </form>
                                            <div class="text-center"><a class="small" href="forgot-password.html">Forgot Password?</a></div>
                                            <h2>{{error}}</h2>
                                        </div>
                    </div>
                </div>
    </div>
    
    <script src="../static/assets/bootstrap/js/bootstrap.min.js"></script>
    <script src="../static/assets/js/theme.js"></script>
</body>

</html>